$error_color: red;

.field_with_errors {
  display: inline;

  label {
    color: $error_color;
  }

  input[type=text] {
    border: solid 1px $error_color;
    color: $error_color;
  }
}

.board-title {
  font-size: 20px;
  text-decoration: none;
}

.board-title-open {
}

.board-title-locked {
  color: red;
}

.board-title-hidden {
  opacity: 0.3;
}